<% if cart.total.to_i > 0 %><br>
<table class="table table-striped table-bordered table-hover" id="donation-table">
  <tr>
    <th>Candidate</th>
    <th>Issue</th>
    <th>Amount Donated</th>
    <th>Remove</th>
  </tr>
  <% cart.donations.each do |donation| %>
  <tr>
    <% if donation.amount %>
    <td id="cart-td"><%= donation.candidate.name %></td>

    <td><a href="#" data-toggle="popover" data-placement="top" title="<%= donation.candidate.name %>'s Stance" id="cart-btn" data-content="<%= donation.candidate_issue.stance %>"> <%= donation.issue.topic %></a></td>

    <td id="form-edit-cart"><%= bootstrap_form_for donation, layout: :inline, url: "/cart/#{donation.candidate_issue_id}", method: :patch do |f| %>
        <%= f.number_field :amount, in: 1..2700, step: 1, hide_label: true, value: donation.amount, id:"amount-field-cart" %>
        <%= f.submit "Update" %>
        <% end %></td>
    <td id="cart-remove-button"><%= link_to "Remove", "/cart/#{donation.candidate_issue_id}", :data => {:confirm => 'Donation will be removed. Are you sure?'}, method: :delete,
            class: "btn btn-danger", id:"delete-#{donation.candidate_issue_id}" %></td>
    <% end %>
  <% end %>
  </tr>
  <tr>
    <td></td>
    <td id="cart-total-donations"><strong>Total Donations</strong></td>
    <td id="cart-total"><%= number_to_currency(cart.total) %></td>
    <td id="cart-donate-button"><div class="btn btn-success">DONATE</div></td>
  </tr>
</table>
<% else %>
  <h4 id="cart-empty">Sorry Your Cart is Empty</h4>
<% end %>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      trigger: 'hover'
    });
});
</script>


