<tr>
  <th>Candidate</th>
  <th>Issue</th>
  <th>Amount Donated</th>
  <th>Edit</th>
  <th>Remove</th>
</tr>
  <% cart.donations.each do |donation| %>
  <tr>
    <% if donation.amount %>
      <td><%= donation.candidate.name %></td>
      <td><%= donation.issue.topic %></td>
      <td><%= form_for donation, url: "/cart/#{donation.candidate_issue_id}", method: :patch do |f| %>
          <%= f.number_field :amount, value: donation.amount %>
          <%= f.submit "Update" %>
          <% end %></td>
      <td><%= link_to "Remove", "/cart/#{donation.candidate_issue_id}", :data => {:confirm => 'Are you sure you wish to remove this donation?'}, method: :delete, class: "btn btn-danger", id:"delete-#{donation.candidate_issue_id}" %></td>
    <% end %>
  <% end %>
  </tr>
  <tr>
    <td></td>
    <td><strong>Total Donations</strong></td>
    <td id="cart-total">$<%= cart.total %></td>
    <td colspan="2" align="center"><div class="btn btn-success">DONATE</div></td>
  </tr>

And the message should say "Successfully removed SOME_DONATION from your cart."
And the title "SOME_DONATION" should be a link to that item in case the user wants to add it back
And I should not see the donation listed in cart