<div class="row" align="center" id="flash_messages">
  <br>
    <div class="col-md-12">
      <%= render partial: "layouts/flashes" %>
    </div>
</div><br>

<div class="cart">
  <br><h3 align="center">Your Donations Cart</h3><br>

  <div class="container row">
    <div class="col-md-5">

    </div>
    <div class="col-md-5">
      <% if cart.total.to_i > 0 %>
      <table class="table table-striped" id="donation-table">
        <tr>
          <th>Candidate</th>
          <th>Issue</th>
          <th>Amount Donated</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
        <% cart.donations.each do |donation| %>
          <tr>
            <% if donation.amount %>
            <td><%= donation.candidate.name %></td>
            <td><%= donation.issue.topic %></td>
            <td><%= form_for donation, url: "/cart/#{donation.candidate_issue_id}", method: :patch do |f| %>
                <%= f.number_field :amount, value: donation.amount %>
                <%= f.submit "Update" %>
                <% end %></td>
            <td><%= link_to "Remove", "/cart/#{donation.candidate_issue_id}", method: :delete,
                    class: "btn btn-danger", id:"delete-#{donation.candidate_issue_id}" %></td>
            <% end %>
        <% end %>
          </tr>
        <tr>
          <td></td>
          <td><strong>Total Donations</strong></td>
          <td id="cart-total">$<%= cart.total %></td>
          <td colspan="2" align="center"><div class="btn btn-success">DONATE</div></td>
        </tr>
      </table>

      <% else %>
        <h3>Your cart is empty.</h3>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
      <button class="btn">
        <%= link_to "View more issues.", issues_path %>
      </button>
      <button class="btn">
        <%= link_to "View more candidates.", candidates_path %>
      </button>
    </div>
  </div>
</div>
