<h3 class="donation-candidate"><%= candidate_issue.name %> | <%= candidate_issue.stance %></h3>

<div class="donation-time">
  <p>
  <%= form_for Donation.new, url: donations_path do |f| %>
    <%= f.label :amount %>
    <%= f.hidden_field :candidate_issue_id, value: candidate_issue.id %>
    <%= f.number_field :amount, in: 1.0..2700.0, step: 1.0 %>
    <%= f.hidden_field :issue_id, value: candidate_issue.issue_id %>
    <%= f.submit "Donate" %>
  <% end %>
  </p>
</div>
