<header id="myCarousel" class="carousel slide">
  <div class="fill" id="slider-1"></div>
</header>

<div class="row" align="center" id="flash_messages">
  <br>
    <div class="col-md-12">
      <%= render partial: "layouts/flashes" %>
    </div>
</div><br>

<div class="container">
  <div class="row">
    <h1 class="page-header" id="title-1"><%= @issue.topic %></h1>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p id="header-intro"><%= @issue.description %></p>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-4 portfolio-item">
     <%= image_tag("#{@issue.picture}.jpg", class: "img-responsive img-portfolio", id:"#{@issue.picture}-image") %>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2" id="stances">
        <% @issue.candidate_issues.each do |candidate_issue| %>
        <div class="list-group-item" id="<%= candidate_issue.id %>">
          <%= render partial: "candidate_issue_row",
                     locals: {candidate_issue: candidate_issue} %>
        </div>
        <% end %>
    </div>
  </div>
  <br><br>
</div>
