<header id="myCarousel" class="carousel slide">
<div class="fill" style="background-image:url(<%= asset_path "environment-banner.jpg" %>);"></div>

<div class="container">
  <div class="row">
    <h1 class="page-header"><%= @issue.topic %></h1>
  </div>
  <div class="row">
    <h3><%= @issue.description %> </h3>
  </div>
  <div class="row">
    <ul class="list-group" id="stances">
      <% @issue.candidate_issues.each do |candidate_issue| %>
        <li class="list-group-item" id="<%= candidate_issue.id %>">
          <%= render partial: "candidate_issue_row",
                     locals: {candidate_issue: candidate_issue} %>
      <% end %>
    </ul>
  </div>
</div>
