<div class="text-center">
  <div class="well">
    <h3><%= @current_candidate.name %></h3>
    <h4><%= @current_candidate.bio %></h4>
  </div>
  <div class="well">
    <% @current_candidate.candidate_issues.each do |candidate_issue| %>
      <h4><%= candidate_issue.topic %></h4>
      <p><%= candidate_issue.stance %></p><a class="btn btn-warning" <%= link_to "Edit Stance" %></a>
    <% end %>
  </div>
</div>
