<head>
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
          'modules':[{
            'name':'visualization',
            'version':'1',
            'packages':['corechart']
          }]
        }"></script>

  <script type="text/javascript">
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var donationsByDate = <%= raw @donations_by_date %>
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Amount');
      data.addRows(donationsByDate);

      var options = {
        title: 'Donations',
        curveType: 'function',
        legend: 'none'
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>
</head>
<br>
<div class="container">
  <h3 id='title-2'><%= current_candidate.name %>'s Campaign Manager Dashboard</h3>
  <br>
  <div class="text-center">
    <%= link_to "Candidate Stances and Goals", edit_admin_candidate_path(id: current_candidate.id), class: "btn btn-danger btn-lg" %>
    <%= link_to "Add a Campaign Manager", new_admin_campaign_manager_path, class: "btn btn-danger btn-lg" %>
  </div>

  <br>
  <div class="col-md-12" id="curve_chart" style="text-center width:800px; height: 300px"></div>
  <div class="col-lg-8 col-lg-offset-2">
    <div class="progress">
      <div class="progress-bar progress-bar-danger" roll="progressbar"
           aria-valuenow="<%= campaign_raised_total %>"
           aria-valuemin="0" aria-valuemax="<%= total_goal %>"
           style="min-width: 3em; max-width: 100%; width: <%= campaign_raised_total.to_f /
                  total_goal.to_f * 100 %>%;">
           <%= campaign_progress_bar_percentage.to_i %>%
      </div>
    </div>

    <div class="text-center">
      <h2>Total Funded: <%= "#{number_to_currency(campaign_raised_total)} of
          #{number_to_currency(total_goal)}" %></h2>
    </div>

    <div class="row">
      <% current_candidate.candidate_issues.each do |candidate_issue| %>
        <div class="list-group-item" id="candidate_issue-<%= candidate_issue.id %>">
          <div class="text-center">
            <h4><%= candidate_issue.topic %></h4>
          </div>
          <%= render partial: "layouts/progress_bar",
                      locals: {candidate_issue: candidate_issue} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
