<br>
<div class="container">
  <h3 id='title-2'><%= current_candidate.name %>'s Campaign Manager Dashboard</h3>
  <br>
  <div class="text-center">
    <%= link_to "Candidate Stances and Goals", edit_admin_candidate_path(id: current_candidate.id), class: "btn btn-danger btn-lg" %>
    <%= link_to "Add a Campaign Manager", new_admin_dashboard_path, class: "btn btn-danger btn-lg" %>
  </div>

  <div class="text-center">
    <h2>Total Funding Goal: <%= number_to_currency(total_goal) %></h2>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <% current_candidate.candidate_issues.each do |candidate_issue| %>
        <div class="list-group-item" id="candidate_issue-<%= candidate_issue.id %>">
          <div class="text-center">
            <h4><%= candidate_issue.topic %></h4>
          </div>
          <%= render partial: "layouts/progress_bar",
                      locals: {candidate_issue: candidate_issue} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
