<br>
<div class="row" align="center" id="flash_messages">
  <br>
    <div class="col-md-12" id="flash_notice">
      <%= render partial: "layouts/flashes" %>
    </div>
</div>
<br>

<div class="container">
  <h3 id='title-2'>Dashboard</h3>
  <div class="col-lg-8 col-lg-offset-2">
    <% if @applicants.count > 0 %>
      <table class="table table-striped table-bordered table-hover" id="application-table">
        <tr>
          <th>Username</th>
          <th>Candidate</th>
          <th>Reason</th>
          <th>Decision</th>
        </tr>
        <tr>
        <% @applicants.each do |applicant| %>
          <td><%= applicant.user.username %></td>
          <td><%= applicant.candidate.name %></td>
          <td><%= applicant.reason %></td>
          <td id="cart-remove-button"><%= link_to "Approve", admin_user_role_path(:value => "Approve",
              :id => applicant.id), method: :patch, class: "btn btn-success" %>
              <%= link_to "Decline", admin_user_role_path(:value => "Decline",
              :id => applicant.id), method: :patch, class: "btn btn-danger" %></td>
        <% end %>
      </table>
    <% else %>
      <h4>No Campaign Managers to Approve Currently</h4>
    <% end %>
  </div>
</div>
