<%= bootstrap_form_for @user, url: join_path do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :email %>
  <%= f.text_field :phone_number,
                   help: "Must be 10 Consecutive Numbers (ex: 5554443333)",
                   icon: "earphone" %>
  <%= f.text_field :username, icon: "user" %>
  <%= f.password_field :password, help: "Must be 8 Characters", icon: "lock" %>
  <%= f.password_field :password_confirmation, label: "Confirm Password" %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.submit "Join Earforked", class: "btn btn-success" %>
    </div>
    <div class="col-xs-4">
      <%= link_to sanitize("Already registered? <br> Log in here."),
          login_path %>
    </div>
  </div>
<% end  %>
