<br>

<div class="col-md-12" align="center" id="user_names">
  <h2 id="profile-header-title"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
</div>

<div class="container">
  <div class="col-md-4" align="center" id="stances_supported">
    <h3>Completed Orders</h3>
      <table class="table table-striped table-bordered table-hover" id="donation-table">
        <tr>
          <th>Order Number</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        <% @orders_completed.each do |order| %>
        <tr>
          <td id="cart-td"><%= link_to order.id, order_path(order) %></td>
          <td id="cart-td"><%= number_to_currency(order.total) %></td>
          <td id="cart-td"><%= order.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-4" align="center" id="stances_supported">
    <h3>Pending Orders</h3>
      <table class="table table-striped table-bordered table-hover" id="donation-table">
        <tr>
          <th>Order Number</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        <% @orders_pending.each do |order| %>
        <tr>
          <td id="cart-td"><%= link_to order.id, order_path(order) %></td>
          <td id="cart-td"><%= number_to_currency(order.total) %></td>
          <td id="cart-td"><%= order.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-4" align="center" id="stances_supported">
    <h3>Cancelled Orders</h3>
      <table class="table table-striped table-bordered table-hover" id="donation-table">
        <tr>
          <th>Order Number</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        <% @orders_cancelled.each do |order| %>
        <tr>
          <td id="cart-td"><%= link_to order.id, order_path(order) %></td>
          <td id="cart-td"><%= number_to_currency(order.total) %></td>
          <td id="cart-td"><%= order.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="container" id="button-front-page">
</div>

<div class="container" id="button-front-page">
        <div class="row">
            <div class="col-md-offset-2 col-md-4" id="browse-candidates-button">
                <%= link_to "Browse All 2016 Candidates", candidates_path, class: "btn btn-lg btn-default btn-block btn btn-primary" %>
            </div>
            <div class="col-md-4" id="browse-issues-button">
                <%= link_to "Browse All 2016 Issues", issues_path, class: "btn btn-lg btn-default btn-block btn btn-primary" %>
            </div>
        </div>
    </div>
