
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<div class="item active">
						<div class="fill" id="slider-1">
			 			</div>
				</div>
				<div class="item">
						<div class="fill" id="slider-2"></div>
				</div>
				<div class="item" >
						<div class="fill" id="slider-3"></div>
				</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
		</a>
</header>

<!-- Page Content -->
<div class="container">

		<!-- Marketing Icons Section -->
		<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1 id='title-1'>
							Welcome to Earmarked
						</h1>
						<h3 id='subtitle-1'>A Platform for Issue Specific Donating</h3>
					</div>
				</div>
		</div>

		<!-- Welcome Section -->
		<div class="row">
				<div class="col-md-12">
					<p id="header-into">
						Earmarked is a tool that will revolutionize how people donate to presidential elections. What makes Earmarked unique is that is allows users to donate to specific issues relating to each candidate's campaign. Like Hillary Clinton's stance on the environment? Donate to just that part of her campaign. What to see where everyone stands on the economy? Check out the issues section and donate to the candidate that best matches your position. Feel free to browse the candidates and issues below.
					</p>
				</div>
			</div>

		<!-- /.row -->

		<!-- Candidate Section -->
		<div class="row">
				<div class="col-lg-12">
						<h2 class="page-header" id="candidates"> Top Candidates</h2>
				</div>
				<% @featured_candidates.each do |candidate| %>
				<div class="col-md-4 col-sm-6">
						<a href="portfolio-item.html">
								<%= link_to image_tag("#{candidate.last_name}.jpg", class:"img-responsive img-portfolio img-hover", id:"candidate-#{candidate.id}"), candidate_path(candidate.id)%>
						</a>
						<h4 id="candidate-front-title"><%= link_to candidate.name, candidate_path(candidate.id) %></h4>
				</div>
				<% end %>
		</div>
		<!-- /.row -->

		<!-- Issue Section -->
		<div class="row">
				<div class="col-lg-12">
						<h2 class="page-header" id="candidates"> Top Issues</h2>
				</div>
				<% @issues.each do |issue| %>
				<div class="col-md-4 col-sm-6">
						<a href="portfolio-item.html">
								<%= link_to image_tag("#{issue.topic}.jpg", class:"img-responsive img-portfolio img-hover", id:"issue-#{issue.id}"), issue_path(issue.id) %>
						</a>
						<h4 id="issue-front-title"><%= link_to issue.topic, issue_path(issue.id) %></h4>
				</div>
				<% end %>
		</div>
		<!-- /.row -->
		<hr>
		<!-- Call to Action Section -->
		<div class="container" id="button-front-page">
				<div class="row">
						<div class="col-md-offset-2 col-md-4" id="browse-candidates-button">
								<%= link_to "Browse All 2016 Candidates", candidates_path, class: "btn btn-lg btn-default btn-block btn btn-primary" %>
						</div>
						<div class="col-md-4" id="browse-issues-button">
								<%= link_to "Browse All 2016 Issues", issues_path, class: "btn btn-lg btn-default btn-block btn btn-primary" %>
						</div>
				</div>
		</div>

		<% unless current_user %>
		<div class="row">
				<div class="col-md-offset-4 col-md-4" id="login-button">
						<%= link_to "Login", login_path, class: "btn-lg btn btn-lg btn-default btn-block btn btn-danger" %>
				</div>
		</div>
		<% end %>

		<hr>
		<!-- /.row -->
		<!-- Footer -->
		<footer>
				<div class="row">
						<div class="col-lg-12" id="copyright">
								<p>Copyright &copy; Earmarked 2015</p>
						</div>
				</div>
		</footer>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
		interval: 5000 //changes the speed
})
</script>

</html>
