<!DOCTYPE html>
<html lang="en">

<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Earmarked - Issue Specific Donating</title>

		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="css/modern-business.css" rel="stylesheet">

		<!-- Custom Fonts -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

		<!-- Header Carousel -->
		<header id="myCarousel" class="carousel slide">
				<!-- Indicators -->
				<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
						<div class="item active">
								<div class="fill" id="slider-1">
					 			</div>
						</div>
						<div class="item">
								<div class="fill" id="slider-2"></div>
						</div>
						<div class="item" >
								<div class="fill" id="slider-3"></div>
						</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="icon-prev"></span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="icon-next"></span>
				</a>
		</header>

		<!-- Page Content -->
		<div class="container">

				<!-- Marketing Icons Section -->
				<div class="row">
						<div class="col-lg-12">
								<h1 class="page-header" id='title-1'>
									Welcome to Earmarked
								</h1>
						</div>
					</div>

				<!-- /.row -->

				<!-- Candidate Section -->
				<div class="row">
						<div class="col-lg-12">
								<h2 class="page-header" id="candidates"> Top Candidates</h2>
						</div>
						<% @featured_candidates.each do |candidate| %>
						<div class="col-md-4 col-sm-6">
								<a href="portfolio-item.html">
										<%= link_to image_tag("#{candidate.last_name}.jpg", class:"img-responsive img-portfolio img-hover", id:"candidate-#{candidate.id}"), candidate_path(candidate.id)%>
								</a>
								<h4 id="candidate-front-title"><%= candidate.name %></h4>
						</div>
						<% end %>
				</div>
				<!-- /.row -->

				<!-- Issue Section -->
				<div class="row">
						<div class="col-lg-12">
								<h2 class="page-header" id="candidates"> Top Issues</h2>
						</div>
						<% @issues.each do |issue| %>
						<div class="col-md-4 col-sm-6">
								<a href="portfolio-item.html">
										<%= link_to image_tag("#{issue.topic}.jpg", class:"img-responsive img-portfolio img-hover", id:"issue-#{issue.id}"), issue_path(issue.id) %>
								</a>
								<h4 id="issue-front-title"><%= issue.topic %></h4>
						</div>
						<% end %>
				</div>
				<!-- /.row -->
				<hr>
				<!-- Call to Action Section -->
				<div class="well">
						<div class="row">
								<div class="col-md-6" id="browse-candidates-button">
										<%= link_to "Browse All 2016 Candidates", candidates_path, class: "btn btn-lg btn-default btn-block" %>
								</div>

								<div class="col-md-6" id="browse-issues-button">
										<%= link_to "Browse All 2016 Issues", issues_path, class: "btn btn-lg btn-default btn-block" %>
								</div>
						</div>
				</div>

				<div class="well">
						<div class="row">
								<div class="col-md-6a" id="login-button">
										<%= link_to "Login", login_path, class: "btn btn-lg btn-default btn-block" %>
								</div>
						</div>
				</div>

				<hr>
				<!-- /.row -->
				<!-- Footer -->
				<footer>
						<div class="row">
								<div class="col-lg-12" id="copyright">
										<p>Copyright &copy; Earmarked 2015</p>
								</div>
						</div>
				</footer>

		</div>
		<!-- /.container -->

		<!-- jQuery -->
		<script src="js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Script to Activate the Carousel -->
		<script>
		$('.carousel').carousel({
				interval: 5000 //changes the speed
		})
		</script>

</body>

</html>