<div class="donation-candidate">
  <h3><span class="glyphicon glyphicon-chevron-right"></span> <%= candidate_issue.topic %></h3>
  <div style="margin-left: 32px;"><h4><%= candidate_issue.stance %></h4></div>
</div>

<div class="donation-time">
  <div id="row-donate-form">
    <%= bootstrap_form_for Donation.new, url: donations_path do |f| %>
      <%= f.hidden_field :candidate_issue_id, value: candidate_issue.id %>
      <%= f.number_field :amount, prepend: "$", in: 1.0..2700.0, step: 1.0 %>
      <%= f.hidden_field :candidate_id, value: candidate_issue.candidate_id %>
      <%= f.hidden_field :origin_page, value: candidate_path(candidate_issue.candidate_id) %>
      <%= f.submit "Donate" %>
    <% end %>
  </div>
</div>
