<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Earmarked - A Site for Issue Specific Donating</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
   <link href='https://fonts.googleapis.com/css?family=Quattrocento:700'
         rel='stylesheet'
         type='text/css'>
  </head>
  <body>

  <%= render 'layouts/navbar' %>

  <script type="text/javascript"
          src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5626b1e9bbc5352d"
          async="async"></script>

  <%= yield %>

  <%= render 'layouts/footer' %>

  </body>
</html>
