<!DOCTYPE html>
<html>
<head>
  <title>Earmarked</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link href='https://fonts.googleapis.com/css?family=Quattrocento:700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>
